# These are the requirements related to NLP backend
astroid
backports.functools-lru-cache
certifi
classify
Click
configparser
document
docx2txt
enum34
Flask-PyMongo
futures
isort
itsdangerous
lazy-object-proxy
lxml
MarkupSafe
mccabe
nltk
numpy
pandas
pdfminer.six
pdftotext
Pillow
pylint
pymongo
python-dateutil
python-docx
pytz
scikit-learn
scipy
singledispatch
six
sklearn
wrapt
PyPDF2==1.26.0
wordcloud==1.5.0
