<html>
  <head>

    <script >

      function resetpassword(){
      alert('hello');
      event.preventDefault();
      form = document.getElementById("formreset");
      var password = document.getElementById("password").value;
      var conf_password = document.getElementById("conf_password").value;
      alert(password);
      alert(conf_password);
      
      <!-- if(password == conf_password){ -->
      <!-- alert('submit form'); -->
      <!-- }else{ -->
      <!-- alert('password didt match); -->
      <!-- } -->
      
      }
     
    </script>
    
  </head>
  <body>
    <h1>hello</h1>
    <form action="reset" method="post" id="formreset" onsubmit="resetpassword()">
      {%csrf_token%}
      <input type='hidden' name="user_id" value="{{id}}">
      <input type='hidden' name="hash_id" value="{{hash}}">
      <input type='password' name='password' id="password" placeholder='enter password'><br>
      <input type='password' name='conf_password' id="conf_password" placeholder = 'confirm password'><br>
      <button>set password</button>
    </form>
  </body>

</html>
